.okmusic_download {
    display: block;
    position: absolute;
    top: 7px;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFhJREFUOI1jYBgFVAdPGRgY/hPAT/AZ4MXAwPAHj+bfDAwMHoRckYHHgFRivdKFRXMbsZoZGBgYGBkYGFYiaV4GFSMJcDAwMOxjYGDYxcDAwE6q5lFAAgAAMrki7vVOa8QAAAAASUVORK5CYII=) #8D8D8D no-repeat 0 0;
    background-size: 14px 14px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    width: 14px;
    height: 14px;
    left: 25px !important;
    z-index: 50 !important;
}

.okmusic_download:hover {
    background-color: #EB722E;
}

.mus-tr_cnt {
    margin-left: 20px !important;
}

.gjcdqyoh {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3005;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.gzdfplk {
    width: 580px;
    height: 400px;
    margin: 24px auto 0px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.ggnthbfmb {
    font-size: 16px;
    color: #00000;
    font-weight: 600;
    margin-bottom: 20px;
}

.ngvbma {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    padding-bottom: 20px;
}

.dtzdyedeb {
    float: left;
    margin: 0px 10px 10px 0px;
}

.hodvxjp {
    position: relative;
    box-sizing: border-box;
    min-width: 96px;
    height: 32px;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: rgb(33, 144, 13) 0px -1px 0px 0px inset;
    text-shadow: rgb(69, 143, 17) 0px 1px 0px;
    margin: 0px;
    padding: 0px 20px;
    overflow: visible;
    border-radius: 3px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: 500 14px/32px arial, helvetica, sans-serif;
    outline: 0px;
    background: linear-gradient(rgb(120, 216, 31), rgb(29, 170, 9)) rgb(29, 170, 9);
    margin-left: -95px;
}

._okmusicpro_p_text {
    float: left;
    margin-left: 240px;
    margin-top: -15px;
    cursor: pointer;
    color: #d2cece;
}